<html>
    <head>
        <meta charset="utf-8">
        <title>사물 인식</title>
        <link href="./src/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="text-center" style="vertical-align: middle">
            <h1>선택해라!</h1>
            <br><br>
            <button type="button" class="btn btn-primary" onclick="location.href='./object_rec'">사물</button>

            <button type="button" class="btn btn-success" onclick="location.href='./poketmon'">포켓몬</button>

            <button type="button" class="btn btn-info" onclick="location.port=6006">훈련 결과</button>
        </div>
    </body>
</html>